
.top-navigation a{
    text-decoration: none;
    color: #752A00;
    margin: 20px;
   
}
.heart{
    top: 0px;
    right: 0px;
    background-image: url("../img/heart2.png");
    background-position: center;
    height: 90px;
    width: 90px;
    background-size: cover;
    background-repeat: no-repeat;
}
.heart:hover{
    background-image: url("../img/heart.png");
}


.recipe-groups button{
    margin-left: 15px;
    margin-top: 15px;
}

#play-button{
    background-color: white;
    width: 300px;
}

#play-button span{
    font-size: 25px;
    background-image:linear-gradient(45deg,#F89B29,#FF0F7B);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}

#player-text-button{
    width: 368px;

}
.player{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin: auto;
    margin-top: 40px;
    text-align: center;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,61,0,1) 47%);
    height: 269px;
    width: 368px;
    border-radius: 30px 30px 30px 30px ;
    
}


.player h1{
    color: white;
}
.player img{
    height: 269px;
    width: 368px;
    opacity: 0.5;
    border-radius: 30px 30px 30px 30px ;
}
.play-icon{
    margin-right: 10px;
}
.buttons-under-player{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.buttons-under-player button{
    width: 170px;
    margin: 20px;
}

.seach-container{
    border-radius: 30px;
    width: 100%;
    margin: auto;
    box-shadow: 0px 0px 30px -15px ;
    border: none;
    height: 60px;
    padding: 20px;
    background-color: #F8F8F8;
}
.recipe-search{
    border: none;
    background-color: #F8F8F8;
}

.title-text{
    color: #752A00;

}

.btn{
    border: none;
}

.buttons{
    color: #FE784E;

}


.card{
    border-radius: 30px 30px 30px 30px ;
    height: 350px;
    width: 45vh;
    border: none;
    box-shadow:0px 0px 30px -15px ;
     
}

.card-img-top{
    border-radius:30px 30px 0px 0px ;
    height: 210px;


}

h3{
    color: black;
    
}
a:link{
    text-decoration: none;
}



.btn-primary{
    background-color:rgba(255, 100, 51, 0.15);
    color: #FE784E;
}
.btn-primary:hover{
    background-color: #FE784E;
    color: white;
}
.rating{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 80px;
}
.ingredients-list ul{
    list-style: none;
    padding-left: 0px;
}
.ingredients-list li{
    background-color:rgba(255, 197, 164,0.15);
    color:#FE784E;
    border-radius: 12px;
    margin-bottom: 20px;
    font-size: 15px;
    line-height: 30px;
    padding: 10px;
}
